<div >
  
    <div [style]=boxStyle>
    <div class="mainbackimg scrollhide" >
      
      
        <img alt="back photo" [src]=backphoto class="maingif" >


        <div class="selecteschool">

          <img alt="scholl" [src]=schoolback class="maingif" [style.display]="schooldis">
        
          <div class="schMobile">
            <img alt="mobile" [src]=schoolss class="projectbackimg" >
          </div>
          
          <div class="schptext" >
            <h4 class="textcolor">Simplifying Education Management to Empower Success for Schools, Students, and Teachers.</h4>
          </div>


          <div class="schh1text" style=" width: 35%;height: 25%;bottom:5%; position:  absolute;right: 15%;">
            <h1 class="textcolor">SCHOOL WEB WITH ERP</h1>
          </div>

          <div class="schwebtext">
            <h4 class="textcolor">Web Development </h4>
          </div>
        </div>

        
        <div class="selecterent">

          <img alt="rent" [src]=rentback class="maingif" [style.display]="rentdis">

          <div class="rentdiplay" style=" width: 25%;height: 63%;bottom:5%; position:  absolute;right: 10%;">
            <img alt="mobile" [src]=mobiless class="projectbackimg" >
          </div>
          
          <div class="renth1text" >
            <h1 class="textcolor">Mrent App</h1>
          </div>

          <div class="rentptext" >
            <h4 class="textcolor">
              Simplifying Rental Management to Empower Property Owners with Ease and Efficiency.            
            </h4>
          </div>

          <div class="rentapptext">
            <h4 class="textcolor">Mobile App Development </h4>
          </div>

        </div>
       
    </div>


    <!-- wellcome -->
    <div class="otherinfo scrollinfo" >
      <mat-grid-list cols="2" rowHeight="100%">
        <mat-grid-tile >
          <div style="height: 100%;margin-top:50%;" >
            <h1 class="welh1">WELCOME!</h1>

            <p class="welp">
              I’m Vinit Arun Patil, a dedicated Full Stack Developer focused on building powerful and reliable applications.
              From crafting backend APIs with Django to designing sleek frontends using Angular and Ionic,
              I’m passionate about turning ideas into functional, user-friendly solutions.
              <br><br>
              With expertise in Python, MySQL, JWT authentication, and performance optimization,
              I create scalable web and mobile applications that are secure and efficient.
              <br><br>
              Feel free to take a look around and reach out if you’d like to collaborate or discuss potential opportunities!
            </p>

          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <img alt="vinitpic" [src]=vinitpic class="welimg">
        </mat-grid-tile>
        
      </mat-grid-list>      
    </div>


    <div class="aboutme" >
      <mat-grid-list cols="3" rowHeight="100%">
        <mat-grid-tile colspan="1" >
          <img alt="sideface" [src]=sideimg class="aboutimg">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" >
          <div style="height: 100%;margin-top:25%;" >
            <h1 class="welh1">ABOUT ME</h1>
            <h2 style="color: white;">
              Name :- VINIT ARUN PATIL
            </h2>
            <h2 style="color: white;">
              Education :- BE Electronics and Telecommunication
            </h2>
            <h2 style="color: white;">
              Location :- Thane, Maharastra 421302
            </h2>
            <h2 style="color: white;">
              Email :- <a class="emailA" href="mailto:vinitpatil1001@gmail.com">vinitpatil1001&#64;gmail.com</a>
              <!-- Email :- vinitpatil1001&#64;gmail.com -->
            </h2>
            <h2 style="color: white;">
              Phone No :- +91 7900079060
            </h2>
            <div class="logodiv">

              <a href="mailto:vinitpatil1001@gmail.com">
                <img alt="emaillogo" [src]=email class="email">
              </a>

              <a href="https://github.com/patilarunvinit/" target="_blank">
                <img alt="githublogo" [src]=github class="linkedin ">
              </a>

              <a href="https://www.linkedin.com/in/vinit-patil-2661081a9/" target="_blank">
                <img alt="linkedinlogo" [src]=linkedin class="linkedin" >
              </a>

              
            </div>
          </div>
          
        </mat-grid-tile>
        
      </mat-grid-list> 
    </div>
  </div>



    <div class="title">AdnyaTech</div>
    <a href="#" (click)="menubutton($event)" class="menutext glass" [style.display]=menuhide>Menu</a>
    <a href="#" (click)="closebutton($event)" class="menutext glass closecolour" [style.display]=closehide>close</a>

    
    <div class="menu-container">
        <div class="menu">
          <a href="#" (click)="schoolbutton($event)" class="school glass">school web</a>
          <a href="#about" class="mrent glass">Mrent</a>
          
        </div>
    </div>

    
    <!-- <app-schoolproject [style]=boxStyle class="schoolpage" [style.display]= schdisplay></app-schoolproject> -->

    <app-schoolpage [style]=boxStyle class="schoolpage" [style.display]= schdisplay></app-schoolpage>
   
</div>




